@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
  
  background: #0d0200;
  background: linear-gradient(180deg,  #0d0200, #1c0c00);
  scroll-behavior: smooth;

 }
